.contact-form-container{
    margin-bottom: 75px;
    input{
        margin-bottom: 16px;
        padding: 12px;
        width: 300px;
    }
    textarea{
        margin-bottom: 16px;
        width: 300px;
        padding: 12px;
    }
    button{
        padding: 12px;
        width: 150;
    }
}